* {
  font-family: Helvetica, sans-serif;
}

.picture-container {
  position: relative;
  animation: moveUpDown 2s infinite;
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* Adjust the distance the picture moves */
  }
}

.run-a-checkeup {
  background-color: "#5040B0";
  cursor: pointer;
  transition: ease 1s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.18, 1.34);
}
.run-a-checkeup:hover {
  transform: scale(1.2);
  background-color: #5140b04e;
  transform: translateY(-10px);
}
