* {
  font-family: helvetica;
}
body {
  background-color: white;
}
.logo {
  width: 25rem;
  margin-bottom: 2rem;
}
.formContainer {
  display: flex;
  width: 100vw;
  height: 90vh;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.loginForm {
  background-color: #5040b0;
  width: 400px;
  border-radius: 20px;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  box-shadow: 15px 25px 79px -32px rgba(102, 60, 60, 0.94);
  -webkit-box-shadow: 15px 25px 79px -32px rgba(102, 60, 60, 0.94);
  -moz-box-shadow: 15px 25px 79px -32px rgba(102, 60, 60, 0.94);
}
h2 {
  text-align: center;
  color: white;
}
input[type="text"] {
  padding-left: 1rem;
  height: 40px;
  font-size: 18px;
}
input[type="checkbox"] {
  width: 1.5em;
  border-radius: 15px;
  accent-color: white;
  margin-bottom: -3px;
}
.resterConnectés {
  /* height: ; */
  display: flex;
  align-items: flex-end;
  align-self: flex-start;
  margin-left: 35px;
  margin-top: -15px;
}
.loginSubmit {
  background-color: #5040b0;
  border-radius: 10px;
  height: 50px;
  color: white;
  font-weight: bold;
  font-size: larger;
  cursor: pointer;
  transition: ease 1s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.18, 1.34);
  box-shadow: 0px 0px 0px transparent;
  border: 2px solid white;
  margin-bottom: 2rem;
}
span {
  color: white;
}
.links {
  margin-top: 3px;
  font-size: 13px;
  text-decoration: underline;
}
.loginSubmit:hover {
  transform: scale(1.1);
  background-color: #ff5c5c;
  color: white;
  border: 2px solid #ff5c5c;
}
